/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Fine regole generali */

/* Regole navbar */

nav ul {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0px 15px;
    padding: 8px 10px;
    background-color: white;
}

/* Fine regole navbar */

/* Regole blocchi */

.shoe {
    width: 100%;
    height: 100vh;
}

.red {
    border: 1px solid black;
    background-color: red;
}

.green {
    border: 1px solid black;
    background-color: green;
}

.yellow {
    border: 1px solid black;
    background-color: yellow;
}